{% extends '::Appli/layout.html.twig' %}

{% block title %} {{ parent() }}|home {% endblock %}


{% block appli_content %}

<div class="row">
    <div class="col-sm-12">
        <h4>homepage anonyme</h4>
    </div>
</div>
{% endblock appli_content %}

