{% extends '::Appli/layout.html.twig' %}

{% block title %} {{ parent() }}|home {% endblock %}


{% block appli_content %}

<div class="col-sm-10 col-sm-offset-1">
    
    <h4>homepage membre</h4>
    {% for equipe in equipes %}
        {% if loop.first %}
            <div class="row">
        {% endif %}
        <div class="col-sm-6">
            <a href="{{ path('equipe_show', {'id': equipe.id}) }}" id="retour" name="retour" class="btn btn-info btn-lg btn-block">
                <i class="fa fa-futbol-o fa-2x pull-left"></i>
                {{ equipe.nom }}
            </a>
        </div>
        {% if loop.index is divisibleby(2) %}
            </div>
            <br/>
            <div class="row">
        {% endif %}
        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %} 

    
</div>
{% endblock appli_content %}

